<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Oferim aranjamente și buchete de flori deosebite care încantă sufletele și apropie oamenii. Florăria Rosa face livrări oriunde în țară și dispune de curieri proprii.">
        <meta name="keywords" content="flori, florarie, floare, buchete, aranjamente, florale, ocazii, Valentine’s day, 8 Martie, nunta, cosuri flori,livrari, comanda ">
        
        <title>Eroare 404</title>
        <%- include("../fragmente/head") %>     
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Eroare 404</h2>
            <p>Ne pare rău, dar ați accesat o pagină inexistentă!</p>
            <img src="/resurse/imagini/404-floaretrista.jpg" height="200">

        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>