<!DOCTYPE html>
<html lang="ro">
<head>
    
    <meta name="keywords" content="flori, florarie, floare, buchete, aranjamente, florale, ocazii, Valentine’s day, 8 Martie, nunta, cosuri flori,livrari, comanda ">
    <meta name="description" content="Oferim aranjamente și buchete de flori deosebite care încantă sufletele și apropie oamenii. Florăria Rosa face livrări oriunde în țară și dispune de curieri proprii.">
    <title>Florăria Rosa</title>
    <%- include("../fragmente/head") %> 

</head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    <h2>Îți mulțumim că ne apreciezi munca!</h2>
    <p>Instrucțiuni comenzi:</p>
    <ul>
        <li>Analizează cu atenție produsele noastre disponibile, iar dacă ai un model specific în minte care nu apare pe site accesează secțiunea <i>Întrebări frecvente</i> din prima pagină, unde am abordat acest subiect</li>
        <li>Notează numerele articolelor care te interesează. Numărul unui produs apare în pagina special destinată acestuia, accesibilă prin click pe numele său.</li>
        <li>Ține minte eventualele modificări pe care dorești să le facem, pentru a-ți satisface dorințele.</li>
        <li>Contactează-ne pe Whatsapp pentru a stabili detaliile comenzii, împreună cu tipul de livrare (prin ridicare personală sau prin curier), eventuala adresă și date de contact, cât și prețul final al comenzii.</li>
    </ul> 
    <!--BUTON WHATSAPP-->
    <a href="https://api.whatsapp.com/send?phone=40213208595"><i class="fab fa-whatsapp" style="font-size:48px;color:green; margin-left: 25%;"></i> <span style="background-color: green;color:white; text-decoration: none; font-size:25px;">Apasă aici pentru a comanda prin Whatsapp</span></a>
    <p>Sperăm ca produsele noastre să vă aduca zâmbetul pe buze și să vă convingă de profesionalismul nostru!</p>  
</main>


    <%- include("../fragmente/footer") %>

</body>
</html>