<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Oferim aranjamente și buchete de flori deosebite care încantă sufletele și apropie oamenii. Florăria Rosa face livrări oriunde în țară și dispune de curieri proprii.">
        <meta name="keywords" content="flori, florarie, floare, buchete, aranjamente, florale, ocazii, Valentine’s day, 8 Martie, nunta, cosuri flori,livrari, comanda ">
        
        <title>Informații</title>
        <%- include("../fragmente/head") %>     
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>  
            <h2>Mai multe despre noi</h2>
            <p style="color:var(--culoare-mov-inchis);"> &emsp; <b>Florăria Rosa</b> este o afacere de familie înființată datorită pasiunii pentru flori. Cu o tradiție de peste 5 ani în domeniu, ne străduim să popularizăm aranjamentele florale care, din punctul nostru de vedere, sunt nelipsite de la orice fel de eveniment și nu numai.</p>
            <p style="color:var(--culoare-mov-inchis);">&emsp; <b>Experiența</b> noastră s-a construit de-a lungul anilor profesând, dar și urmând diverse workshop-uri în domeniu, pentru a ne atesta interesul și priceperea în arta florală.</p> 
            <p style="color:var(--culoare-mov-inchis);">&emsp; În cadrul florăriei noastre puteți descoperi o gamă variată de tipuri de flori, cât și de tehnici și palete de culori în ceea ce ține de ambalare. </p>
        </section>
        <section>
            <h2>Cum comand?</h2>
            <p>&emsp;Informațiile referitoare la modul de a comanda pot fi vizualizate doar în urma creării unui cont, fapt ce ne ajută pe noi să ținem evidența persoanelor ce comandă.
                Contul se poate crea accesând pagina <i>"Înregistrare"</i> din cadrul meniului și completând datele cerute, urmând apoi a apăsa butonul <i>"Trimite"</i>.
                După ce s-a creat contul, acesta poate fi accesat introducând <i>username-ul</i> și <i>parola</i> în câmpurile speciale din meniu.
                Informațiile despre comenzi vor putea fi vizualizate în pagina <i>"Comenzi"</i> din meniu, ce va apărea după logare.
            </p>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>