<footer id="footer">
        <div  class="link-top">
                 <a href="#start">&#5123;</a>
                 <span class="tooltiptext">Du-mă sus</span>
        </div>
    <hr id="stilizare-hr">

    <address>
        Adresă Florăria Rosa: Strada Rozelor nr. 17, Brașov. <span class="fas fa-phone-volume"></span><a href="tel:+40213208595"> +40213208595</a> /<a href="tel:+40289461192"> +40289461192</a> <span class="fas fa-envelope"></span> <a href="mailto:florariarosa@gmail.com">florariarosa@gmail.com</a>
    </address> 
    <p> Prețurile sunt actualizate zilnic și includ TVA. Stocurile sunt afișate în timp real.
        <br>
        <strong>Notă: </strong> Pentru orice problemă în legătură cu site-ul vă rugăm să ne contactați la adresa de e-mail de mai sus. <span class="fas fa-cog fa-spin"></span>
    </p>
        <small>
        Copyright &#169; Ifrosă Diana-Maria, <time datetime="2021-03-07">7 martie 2021</time>.
    </small>

    </footer>   